/* You can add global styles to this file, and also import other style files */
@import url('assets/css/app.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container{
    width: clamp(300px, 85vw, 1024px);
    margin: auto;
    /* background-color: black; */
}

.link{
    cursor: pointer;
}
